page-login {

    img{
        max-width: 200px;
        width: auto;
        margin: auto;
        padding: auto;
        margin-top: 50px;
    }

    .colheita{
        width: 100%;
        text-align: center;
        font-size: 2.5em;
        color:white;
    }

    .icon{
        text-align: center;
    }

    .alert{
        color: #f6f6;
    }

    .login{
        background:  #EA6B3A;
    }
}